node_modules/
docs/historia-usuario-control-acceso-por-rol.md
docs/historia-usuario-perfil-estudiante.md

#devemos revisar esta historia de usuario es un bug
docs/historia-usuario-posicion-individual-por-clase.md 